.arrow {
    position: relative;
    display: inline-block;
    height: 1vw;


    svg {
        height: 100%;
    }
}

.arrow-polyline {
    fill: none;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10;
}

.contact-bio {
    .arrow {
        padding-right: 0.5vw;
    }
}
