.gallery-text {
  width: 100%;
  height: 100%;
  padding: $sideSpacing;
  font-size: $gallery-font-size;
  line-height: $gallery-line-height;
  background-color: #ffffff;

  @media screen and (orientation:portrait) {
      font-size: $gallery-font-size--portrait;
      line-height: $gallery-line-height--portrait;
  }
}


.gallery-text--dark {
  background-color: #000;
  color: #fff;
}


.gallery-text-link {
    position: absolute;
    bottom: $sideSpacing;
    left: $sideSpacing;
    font-size: $gallery-font-size;

    @media screen and (orientation:portrait) {
        font-size: $gallery-font-size--portrait;
    }

    a {
        color: black;
    }
}
