.gallery-navigation {
    z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.galleryPrev {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 0;
  cursor: url('../img/cursor/galleryPrevSmall.png') 1 30, pointer;
  opacity: 0;

  &.white-cursor {
    cursor: url('../img/cursor/galleryPrevSmallWhite.png') 31 16, pointer;
  }

  &.active { height: 100%; }
}


.galleryNext {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 0;
  cursor: url('../img/cursor/galleryNextSmall.png') 34 30, pointer;
  opacity: 0;

  &.white-cursor {
    cursor: url('../img/cursor/galleryNextSmallWhite.png') 31 16, pointer;
  }

  &.active { height: 100%; }
}


.ie {
    .galleryPrev {
      cursor: url('assets/img/cursor/galleryPrevSmall.cur'), pointer;
    }


    .galleryNext {
      cursor: url('assets/img/cursor/galleryNextSmall.cur'), pointer;
    }
}


.edge {
    .galleryPrev {
      cursor: url('../img/cursor/galleryPrevSmall.cur'), pointer;
    }


    .galleryNext {
      cursor: url('../img/cursor/galleryNextSmall.cur'), pointer;
    }
}
