.gallery-item {
  position: absolute;
  right: 0;
  height: 100%;
  transition: transform 1s ease-in;
  transform: translateX(100%);
}


.gallery-item--full {
  width: 100%;

}


.gallery-item--half {
  width: 50%;
}


.gallery-item--half--left {
  border-right: $sectionBorderW / 2 solid $borderColor;
}


.gallery-item--half--right {
  border-left: $sectionBorderW / 2 solid $borderColor;
}


.gallery-item:not(.gallery-item--half--left).active {
  transform: translateX(0);
}


.gallery-item--half--left.active {
  transform: translateX(-100%)!important;
}


.gallery-item--text {
  transform: translateX(100%);

  & ~ .gallery-item {
      z-index: 1;
  }
}


.gallery-item--before-text {
  z-index: 1;

  &.active + .gallery-item--text {
      transform: translateX(0%);
  }
}
