$easing: cubic-bezier(0,.23,.26,1);
$duration-long: 0.4s;
$duration-short: 0.2s;

.gallery-item {
  position: absolute;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform $duration-long $easing;
}


.gallery-item--full {
  width: 100%;

}


.gallery-item--half {
  width: calc(50% + #{$sectionBorderW} / 2);
}


.gallery-item--half--left {
    border-right: $sectionBorderW solid $borderColor;
}

.gallery-item--half--left.gallery-item--text {
    transition: transform $duration-short $easing;
    border-right: $sectionBorderW solid $borderColor;
}


.gallery-item--half--right {
    transition: transform $duration-short $easing;
    border-left: $sectionBorderW solid $borderColor;
}


.gallery-item:not(.gallery-item--half--left).active {
  transform: translateX(0);
}


.gallery-item--half--left.active {
  transform: translateX(calc(-100% + 4px))!important;
}


.gallery-item--text {
  transform: translateX(100%);

  & ~ .gallery-item {
      z-index: 1;
  }
}


.gallery-item--before-text {
  z-index: 1;

  &.active + .gallery-item--text {
      transform: translateX(0%);
  }
}
