.gallery-img {
  height: 100%;
  background-color: #ff0000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.gallery-img--full {
  width: 100%;
}



.gallery-img--half {
  width: 50%;
}
