.start-gallery {
    z-index: 3;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0,.23,.26,1);
}

.start-gallery.move-left {
  transform: translateX(-100vw);

  @media screen and (orientation:portrait) {
      transform: translateX(-100vh);
  }
}
