.info-text {
  font-family: sans-serif;
  padding: $sideSpacing;
}


.info-section--left .info-text {
  font-size: $info-left-font-size;

  @media screen and (orientation:portrait) {
      font-size: $info-left-font-size--portrait;
  }
}


.info-section--right .info-text {
  font-size: $info-right-font-size;
  text-align: justify;

  @media screen and (orientation:portrait) {
      font-size: $info-right-font-size--portrait;
  }
}
