.info-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s cubic-bezier(0,.23,.26,1);
}


.no-touch .info-img:hover { opacity: 0; }


.info-section--right .info-img {
  &.move-out { transform: translateX(100%); }
}


.info-section--left .info-img {
  &.move-out { transform: translateX(-100%); }
}

@keyframes infoSlideRight {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(7vw); }
    100% { transform: translateX(0); }
}

@keyframes infoSlideLeft {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-7vw); }
    100% { transform: translateX(0); }
}

$easing: cubic-bezier(0,.14,.55,.99);
$easing: cubic-bezier(0,.23,.26,1);
$duration-long: 0.4s;


body:not(.no-touch) .in-view {
    .info-section--right .info-img {
        animation: infoSlideRight 0.7s cubic-bezier(0,.14,.55,.99) 0.7s;
    }

    .info-section--left .info-img {
        animation: infoSlideLeft 0.7s cubic-bezier(0,.14,.55,.99);
    }
}


body:not(.no-touch) {

    .info-section--right.move-out .info-img {
        transform: translateX(100%);
        transition: transform 0.3s $easing;
    }

    .info-section--left.move-out .info-img {
        transform: translateX(-100%);
        transition: transform 0.3s $easing;
    }
}
