.info-section {
  position: absolute;
  top: 0;
  width: calc(50% + #{$sectionBorderW} / 2);
  height: 100%;
  overflow: hidden;
}


.info-section--left {
  left: 0;
  border-right: $sectionBorderW solid $borderColor;
}


.info-section--right {
  right: 0;
  border-left: $sectionBorderW solid $borderColor;
}
