.info-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &:hover { opacity: 0; }
}


.info-section--right .info-img {
  background-image: url("../img/sa_02.jpg");
}


.info-section--left .info-img {
  background-image: url("../img/sa_03.jpg");
}
