.info-section {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}


.info-section--left {
  left: 0;
  border-right: $sectionBorderW / 2 solid $borderColor;
}


.info-section--right {
  right: 0;
  border-left: $sectionBorderW / 2 solid $borderColor;
}
