.language-switch-wrapper {
    position: absolute;
    bottom: $sideSpacing;
    font-size: $language-switch-font-size;

    @media screen and (orientation:portrait) {
      font-size: $language-switch-font-size--portrait;
    }

    @include bp-s {
        font-size: $language-switch-font-size--bps;
    }

    .onhover-underline {
        &::after {
            bottom: 0;
            height: 1px;
            background-color: #000;
        }
    }
}


.language-switch {
    display: inline-block;
    cursor: pointer;

    &:first-child:after {
        content: '\2022';
        display: inline-block;

        @include bp-s {
            transform: translateY(-5%);
        }
    }
}
