$easing: cubic-bezier(0,.23,.26,1);


.landing-img {
  z-index: -1;
  position: absolute;
  bottom: calc(#{$sideSpacing} + #{$sectionBorderW});
  left: $sideSpacing;
  height: calc(100vh - 1.2 * #{$landing-font-size} + #{$sectionBorderW});

  @media screen and (orientation:portrait) {
    height: calc(100vw - 1.2 * #{$landing-font-size--portrait} + #{$sectionBorderW});
  }
}


.landing-img-hover {
  z-index: 2;
  opacity: 0;
}


.no-touch {
    .landing-img:hover, .landing-img.hover {
        opacity: 1;
    }
}
