.menu-list {
  font-size: $menu-font-size;
  font-family: $title;

  @media screen and (orientation:portrait) {
     font-size: $menu-font-size--portrait;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  a:visited {
    text-decoration: none;
    color: #000;
  }
}
