.menu-button {
  z-index: 2;
  position: fixed;
  top: 20px;
  right: 20px;
  width: $closeBbutton;
  height: $closeBbutton;

  &:hover {
    cursor: pointer;
    .circle--inner { border-color: white; }
  }

}


.circle {
  position: absolute;
  top: 0;
  right: 0;
  border: $closeBbutton / 2 solid black;
  border-radius: 60%;
}


.circle--inner {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: $closeBbutton / 2 - 6px solid black;
}
