.menu-button {
  z-index: 2;
  position: fixed;
  top: $sideSpacing;
  right: $sideSpacing;
  width: $closeBbutton;
  height: $closeBbutton;

  &:hover {
    cursor: pointer;
    .circle--inner { border-color: #ffffff; }
  }

}


.menu-button.white {
  .circle, .circle-inner {
     border-color: #ffffff;
  }

  &:hover {
    .circle--inner { border-color: #000000; }
  }

}


.circle {
  position: absolute;
  top: 0;
  right: 0;
  border: $closeBbutton / 2 solid #000000;
  border-radius: 60%;
}


.circle--inner {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: $closeBbutton / 2 - 6px solid #000000;
}
