.menu {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow-y: scroll;
  min-height: 100vh;
  background: #ffffff;
  transform: translateY(100vh);
  pointer-events: none;
  transition: transform 0.4s cubic-bezier(0,.14,.55,.99);

  &.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    overflow: scroll;
    transition: transform 0.4s cubic-bezier(0,.14,.55,.99);
  }
}
