/*------------------------------------*\
  #SIZES
\*------------------------------------*/

$closeBbutton: 50px;



//BORDERS
$sectionBorderW: 4px;


//SPACING
$sideSpacing: 1vw;
$contact-paragraph-after: 2vw;




//FONT SIZE
//landscape
$landing-font-size: 10vw;
$info-left-font-size: 5.5vw;
$info-right-font-size: 1.4vw;
$menu-font-size: 5.5vw;
$gallery-font-size: $info-right-font-size;
$language-switch-font-size: $info-right-font-size;
$contact-font-size: $info-right-font-size;

//portrait
$landing-font-size--portrait: 10vh;
$info-left-font-size--portrait: 7vh;
$info-right-font-size--portrait: 2vh;
$menu-font-size--portrait: 10vh;
$gallery-font-size--portrait: $info-right-font-size--portrait;
$language-switch-font-size--portrait: $info-right-font-size--portrait;
$contact-font-size--portrait: $info-right-font-size--portrait;

//bp-s
$info-right-font-size--bps: 2.05vw;
$gallery-font-size--bps: $info-right-font-size--bps;
$language-switch-font-size--bps: $info-right-font-size--bps;
$contact-font-size--bps: $info-right-font-size--bps;

//LINE HEIGHT
$info-right-line-height: 120%;
$gallery-line-height: 120%;
$contact-line-height: 120%;
