{% set info = craft.entries.section('info')[0] %}

{% if (side == 'left') %}
{% set text = info.textLeft  %}
{% set textDe = info.textLeftDe  %}
{% set image = info.imageLeft.first() %}
{% elseif (side == 'right') %}
{% set text = info.textRight  %}
{% set textDe = info.textRightDe  %}
{% set image = info.imageRight.first() %}
{% endif %}



<div class="info-section info-section--{{ side }} js-info-section--{{ side }}">

  {# INFO IMG #}
  {% include "views/components/info/infoImg.twig" with { 'image' : image } %}

  {# INFO TEXT #}
  {% include "views/components/info/infoText.twig" with { 'text' : text, 'textDe' : textDe, 'side' : side } %}

</div>
