<div>
  {% if side == 'right' %}
    <div class="menu-button-text-wrap"></div>
  {% endif %}

  <p class="info-text">
      <span class="text--en">
          {{ text }}
      </span>
      <span class="text--de">
          {{ textDe }}
      </span>
  </p>
</div>
