{# {% set backgroundImg = "background-image: url(" ~ image.src.first().url ~ ");"  %} #}
{% set backgroundImg = image.src.first()  %}
{% set posX = image.posX | default("center")  %}
{% set posY = image.posY | default("center")  %}
{% set backgroundPos = 'background-position: ' ~ posX ~ ' ' ~ posY ~ ';' %}

<!-- <div class="info-img js-info-img" style = "{{ backgroundImg }}{{ backgroundPos }}"></div> -->

    {% include "views/macros/_img-resize_half.twig" with {
        'backgroundImg' : backgroundImg,
        'backgroundPos' : backgroundPos,
        'classList': 'info-img js-info-img js-img-priority'
    } %}
