<div class="gallery js-gallery">

  {# GALLERY ITEMS #}
  {% include "views/components/gallery/galleryItems.twig" with { 'gallery' : gallery } %}

  {# GALLERY NAVIGATION #}
  {% include "views/components/gallery/galleryNavigation.twig" %}

</div>
