{% set contact = craft.entries.section('contact')[0] %}

<section class="contact" id="contact">

    <div class="contact-section contact-section--left">

        <div class="contact-paragraph">

            <h2 class="contact-title">{{ contact.bioTitle }}</h2>

            {% include "views/components/general/text.twig" with { 'text' : contact.bioEn, 'textDe' : contact.bioDe, 'side' : 'left', 'componentClasses' : 'contact-bio' } %}

        </div>

        <p class="contact-bottom">
            All photographs appearing on this site are the property of Elisabeth Real. They are
            protected by Swiss Copyright Laws, and are not to be downloaded or reproduced
            in any way without the written permission of Elisabeth Real. © Copyright 2018 by
            Elisabeth Real. All Rights Reserved.
        </p>

    </div>


    <div class="contact-section contact-section--right">

        <div class="contact-paragraph">
            <h2 class="contact-title">Say hello</h2>
            <span>→</span> <a href="mailto:mail@elisabethreal.ch">mail@elisabethreal.ch</a>
        </div>

        <div class="contact-paragraph">
            <h2 class="contact-title">Follow</h2>

            <ul>
                <li class="arrow">
                    <a href="#">Instagram</a>
                </li>
                <li class="arrow">
                    <a href="#">Twitter</a>
                </li>
                <li class="arrow">
                    <a href="#">Facebook</a>
                </li>
            </ul>
        </div>

        {# BOOK STORES #}
        {% if contact.bookStores %}
        <div class="contact-paragraph">
            <h2 class="contact-title">Book Stores</h2>

            {{ contact.bookStores }}
        </div>
        {% endif %}

        {# IMPORTANT DATES #}
        {% if contact.importantDates %}
        <div class="contact-paragraph contact-important-dates">
            <h2>Important Dates</h2>

            {% for item in contact.importantDates %}
            <ul>
                <li>
                    {{ item.date|date("d/m") }} <span>&bull;</span> {{ item.eventName|striptags('<a>') }}
                </li>
            </ul>
            {% endfor %}
        </div>
        {% endif %}

        <div class="contact-bottom">
            <dl>
                <dt>Design</dt>
                <dd class="arrow">Offshore Studio</dd>
                <dt>Coding</dt>
                <dd class="arrow">Gabriella Kovacs</dd>
            </dl>

        </div>

    </div>

</section>
