div#info.info

  //* INFO SECTION *\\
  div.info-section.info-section--left

    //* INFO IMG *\\
    include ../components/infoImg

    //* INFO TEXT *\\
    include ../components/infoText



  //* INFO SECTION *\\
  div.info-section.info-section--right

    //* INFO IMG *\\
    include ../components/infoImg

    //* INFO TEXT *\\
    include ../components/infoText
