<section class="info" id="info" data-section-name = "Info">

  {# INFO SECTION #}
  {% include "views/components/info/infoSection.twig" with { 'side' : 'left' } %}

  {# INFO SECTION #}
  {% include "views/components/info/infoSection.twig" with { 'side' : 'right' } %}

</section>
