{# MENU OPEN BUTTON #}
{% include "views/components/menu/menuButton.twig" %}

<div class="menu js-menu">

  {# MENU CLOSE BUTTON #}
  {% include "views/components/menu/menuCloseButton.twig" %}


  {# MENU LIST #}
  {% include "views/components/menu/menuList.twig"  %}

</div>
