<div class="arrow">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 77 130" xml:space="preserve">
    <polyline class="arrow-polyline" points="8,5.2 67.3,64.5 8,123.8 "/>
    </svg>
</div>
