<div class="arrow">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 80 80" xml:space="preserve">
    <g>
    	<path d="M40.3,15.3l5.4-5.3l30,30l-30,30l-5.4-5.4l20.4-20.3H4.3v-8.5h56.5L40.3,15.3z"/>
    </g>
    </svg>
</div>
