{% set menuButtonTextWrap = '' %}

{% if side == 'right' %}
    {% set menuButtonTextWrap = 'menu-button-text-wrap' %}
{% endif %}

<p class="{{ componentClasses }} {{ menuButtonTextWrap }}">
  <span class="text--en">
      {{ text|striptags('<br>')|raw }}
  </span>
  <span class="text--de">
      {{ textDe|striptags('<br>')|raw }}
  </span>
</p>
