<ul class="language-switch-wrapper">
    <li class="js-language-switch-en language-switch">
        <span class="onhover-underline">
            ENGLISH
        </span>
    </li>
    <li class="js-language-switch-de language-switch">
        <span class="onhover-underline">
            DEUTSCH
        </span>
    </li>
</ul>
