{% set countryCoverList = craft.entries.section('countryCover') %}

<ul class="menu-list">

  <li>
    <a class="js-menu-item  onhover-underline" href="#info">info</a>
  </li>

  {% for countryCover in countryCoverList %}
    <li>
      <a class="js-menu-item onhover-underline" href="#{{ countryCover.title|replace({ ' ' : '' }) }}">{{ countryCover.title }}</a>
    </li>
	{% endfor %}

  <li>
    <a class="js-menu-item onhover-underline" href="#shop">shop</a>
  </li>
  <li>
    <a class="js-menu-item onhover-underline" href="#contact">contact</a>
  </li>
  <li>
    <span class="js-language-switch-en language-switch onhover-underline">en</span>
  </li>
  <li>
    <span class="js-language-switch-de language-switch onhover-underline">de</span>
  </li>
</ul>
