{% set countryCoverList = craft.entries.section('countryCover') %}

<nav>

    <ul class="menu-list">

        <li>
            <a class="js-menu-item  onhover-underline" href="#info">info</a>
        </li>

        {% for countryCover in countryCoverList %}
        <li>
            <a class="js-menu-item onhover-underline" href="#{{ countryCover.title|replace({ ' ' : '' }) }}">{{ countryCover.title }}</a>
        </li>
        {% endfor %}

        <li>
            <a class="onhover-underline" href="#" target="_blank">shop</a>
        </li>
        <li>
            <a class="js-menu-item onhover-underline" href="#contact">contact</a>
        </li>
    </ul>

</nav>
