doctype html
html
  head
    title ll01

    //* CSS *\\
    link(href='assets/css/reset.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')


  body
    //* LANDING *\\
    include views/modules/m-landing

    //* INFO *\\
    include views/modules/m-info

    //* COUNTRY *\\
    include views/modules/m-countryCover

    //* SHOP *\\
    include views/modules/m-shop

    //* MENU *\\
    include views/modules/m-menu

    //* JS *\\
    script(src='assets/js/all.js')
