{# {% set backgroundImg = 'background-image: url(' ~ img.first().url ~ ');'  %} #}
{% set backgroundImg = img.first()  %}

<!-- <div class="lazy country-cover-img" style = "{{ backgroundImg }}">
</div> -->

{% include "views/macros/_img-resize_full.twig" with {
    'backgroundImg' : backgroundImg,
    'classList': 'country-cover-img js-img-priority'
} %}
