<div class="start-gallery js-start-gallery">
    <h2 class="country-cover-title">
        <span class="text--en">
            {{ title }}
        </span>
        <span class="text--de">
            {{ titleDe }}
        </span>

    </h2>
</div>
